<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="suitec.TestClassCC"/>
      <class name="suiteb.TestClassB"/>
      <class name="suiteb.TestClassBB"/>
      <class name="suitea.TestClassA"/>
      <class name="suitec.TestClassC"/>
      <class name="suitea.TestClassAA"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
